/* Full width section for the input area */
.input {
    width: 100vw;
    margin-top: 50px;
    
}

/* Container that centers the input elements */
.input-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    
    padding: 30px;
}

.input-field input {
    padding: 20px 70px;
    border-radius: 20px;
    text-align: center;
    background-color: #2222;
    color: black;
    border: 2px solid black;
    font-size: 20px;
}