.my{
  background:
  radial-gradient(circle at top left, #b5ccf3 20%, transparent 60%),
  radial-gradient(circle at top right, #fba3e9dd 20%, transparent 60%);
background-repeat: no-repeat;
background-size: 100% 100%;
background-color: #ffffff;
}